header {
  height: 100px;
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
header div {
  padding-left: 100px;
}
header div:nth-of-type(2) {
  padding-right: 100px;
}
header div:nth-of-type(3) {
  padding-right: 100px;
}
